<html>
    <title>nlp output</title>
    <body>
    {% if document_entities_analysis %}
    <p>The results of the analysis are as follows:</p>
        {% for entities in document_entities_analysis %}
        =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= <br>
            {% for entity in entities %} <br>
                name: {{ entity.name }} <br>
                sentiment score: {{ entity.sentiment.score }} <br>
                sentiment magnitude: {{ entity.sentiment.magnitude }} <br>
                salience: {{ entity.salience }} <br>
            {% endfor %}
        {% endfor %}
    {% else %}
    <p>No analysis was performed.</p>
    {% endif %}
    </body>
</html>