<html>
    <title>nlp output</title>
    <body>
    {% if sentences_analysis %}
    <p>The results of the analysis are as follows:</p>
        {% for sentences in sentences_analysis %}
        =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= <br>
            {% for sentence in sentences %} <br>
                sentence: {{ sentence.text.content }} <br>
                sentiment score: {{ sentence.sentiment.score }} <br>
                sentiment magnitude: {{ sentence.sentiment.magnitude }} <br>
            {% endfor %}
        {% endfor %}
    {% else %}
    <p>No analysis was performed.</p>
    {% endif %}
    </body>
</html>