<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>comments sentiment</title>
    </head>

    <body>
    {% for document in documents %}
    {% with comment=document.to_dict %}
    <div class="row">
        <div class="col-sm-3">
            {% if comment.negative_flag %}
            <div class="card text-white bg-danger mb-3" style="width: 18rem;">
            {% else %}
            <div class="card text-white bg-success mb-3"" style="width: 18rem;">
            {% endif %}
                <div class="card-body">
                    <p class="card-text"><i>{{ comment.comment }}</i></p>
                    {% if comment.score_timestamp %}
                    <p class="card-text">Sentiment score: {{ comment.sentiment_score }}</p>
                    <p class="card-text">Sentiment magnitude: {{ comment.sentiment_magnitude }}</p>
                    {% else %}
                    <p class="card-text">NOT SCORED YET</p>
                    {% endif %}
                    <p class="card-text">Comments: {{ comment.score }}</p>
                </div>
            </div>
        </div>
        {% for reply in comment.replies %}
            <div class="col-sm-3 ">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                    <p class="card-text"><i>{{ reply.comment }}</i></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endwith %}
    {% empty %}
    <p>No results were retrieved for the  /r/{{ submission_id }}.</p>
    {% endfor %}
    </body>
</html>