<!DOCTYPE html>
{% load crispy_forms_tags %}
<head>
    <title>search</title>
</head>
<body>
    {% include "dhrishtirest/nav.html" %}
    <span class="border">
    <div class="container">
        <h1>Search subreddits for insights on discussions.</h1>
        <br>
        <form action="{% url 'load-reddit-submissions' %}" method="POST">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6"">
                    {{ search_form|crispy }}
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
    </div>
    </span>
</body>